.edit_post {
    text-align: center;
}

.edit_post h2 {
    font-size: 2.2em;
}

.edit_post p {
    color: #aaa;
    margin-bottom: 2em;
}

.edit_post .preview_title {
    margin-bottom: 0,2em;
    color: #000;
    font-weight: bold;
}

.image_preview {
    max-width: 100%;
    margin-bottom: 1em;
}

.button_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    align-items: center;
}

.cancel, .btn {
    flex: 1;
    max-width: 150px;
    text-align: center;
}

.cancel {
    background-color: #ccc;
    color: #000;
}
